<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  {% for post in posts  %}

  Post ID = {{ post.id }} <br>
  Post Body is : <h2> {{ post.body }} </h2>>


  {% for comment in comments  %}
  {% if comment.post_id == post.id  %}

  comment Body is = <h3>{{ comment.body }} </h3>
  comment for post number : : {{ comment.post_id }} <hr>
{% endif %}


    {% endfor %}

  <form  action="/addComments/" method="post" id="commentForm" >
        {% csrf_token %}
            Leave a comment<!--  action="" -->

            <input type="submit"  name="system" value={{post.id}} form="commentForm">
</form> <hr>

    {% endfor %}

</body>
</html>