<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>

header {
  background-color: #356;
  padding: 30px;
  text-align: left;
  font-size: 22px;
  color: white;
  text-align: left;

}

</style>
<body>
<header>

    User is {{ user.username }}
  {% for post in posts  %}
 <hr> <hr><hr>
  <h1>  Post ID => {{ post.id }}</h1>
  <h1>  Post username => {{ post.userId }}</h1>

  <h2> Post Body is =>  {{ post.body }} </h2> <hr> <hr><hr>

      {% if post.userId == user.username  %}


    <form  action="/deletePost/" method="POST" id="deletePostForm" >
        {% csrf_token %}
            delete this Post <!--  action="" -->

            <input type="submit"  name="postId" value={{post.id}} form="deletePostForm">
            <!--<input type="text"  name="postId" value={{post.id}} form="deleteComment">-->

  </form> <hr>

      {% endif %}


  <form  action="/addComments/" method="post" id="commentForm" >
        {% csrf_token %}
            Leave a comment<!--  action="" -->

            <input type="submit"  name="system" value={{post.id}} form="commentForm">
  </form> <hr>

    {% endfor %}

</header>

</body>
</html>