<!DOCTYPE html>
<html>
<head>
    <title> Hasan Wahbeh </title>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<style>

header {
  background-color: #656;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  text-align: center;

}

</style>
<body>

<header>
<form  action="/showComment/" method="post"  >        <!--  action="" -->
        {% csrf_token %}

        Your name :
        <input type = "text" name = "user"> <br>
        Tour Email :
<input type="email" name = "email"> <br>
The Comment :
    <textarea name="body" > </textarea>
<br>
    the Post ID
        <input type = "text" name = "post" value= {{ system }} > <br>

<input type="submit" name = "submit" > <hr>

</form>

</header>


</body>
</html>
