<!DOCTYPE html>
<html>
<head>
    <title> Hasan Wahbeh </title>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<style>

header {
  background-color: #656;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  text-align: center;

}

</style>
<body>

<header>
<form  action="/deleteView/" method="post"  >        <!--  action="" -->
        {% csrf_token %}

        <input type = "hidden" name = "commentId" value= {{ commentId }} >
        <!--<input type = "hidden" name = "postId" value= {{ postId }} >-->

            <button> Delete Comment </button>

</form>

</header>


</body>
</html>
