<!DOCTYPE html>
<html>
<head>
    <title> Hasan Wahbeh </title>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<style>

header {
  background-color: #656;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  text-align: center;

}

</style>
<body>

<header>

    {% block content %}
{% if user.is_authenticated %}
  Hi  :-) {{ user.username }}! <br>
    you are logged in
   <hr>


    <form  action="/addBlogs/" method="post" id="postForm" >        <!--  action="" -->
        {% csrf_token %}

        Your ID :
        <input type = "number" name = "userId"> <br>
        The Title :
<input type="text" name = "title"> <br>
The Body :
    <textarea name="body" > </textarea>

<input type="submit" name = "submit" >

</form>


<hr>
        <form  action="/addComments/" method="post"  >
        {% csrf_token %}
            Leave a comment<!--  action="" -->

            <input type="submit" name = "submit" > <hr>
</form>
<hr>


show all Posts
    <form  action="/showPosts/" method="POST">
        {% csrf_token %}
        <input type="submit" /> <hr>
    </form>



    Logout
    <form  action="/accounts/logout/" method="POST">
        {% csrf_token %}
        <input type="submit" /> <hr>
    </form>


{% else %}

    Login
    <form  action="/accounts/login/" method="POST">
        {% csrf_token %}
  {{ form.as_p }}
        <input type="submit" /> <hr>
    </form>

     Register
     <form  action="/accounts/register/" method="POST">
        {% csrf_token %}
  {{ form.as_p }}
        <input type="submit" /> <hr>
    </form>

{% endif %}
{% endblock %}

</header>


</body>
</html>
