<!DOCTYPE html>
<html>
<head>
    <title> START </title>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<style>

header {
  background-color: #456;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  text-align: center;

}

</style>
<body>
<header>
    <p> <h2> Here Are My Site </h2> </p>

    <h3>Login</h3>
    <form  action="//" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" /> <hr>
    </form>
<hr>



</header>>



</body>
</html>