<!DOCTYPE html>
<html>
<head>
    <title> Hasan Wahbeh </title>>
</head>
<style>

header {
  background-color: #656;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  text-align: center;

}

</style>
<body>

<header>
<form  action="/addBlogs/" method="post" >        <!--  action="" -->
    {% csrf_token %}

Your ID :
<input type = "number" name = "userId"> <br>
The Title :
<input type = "text" name = "title"> <br>
The Body :
<input type= "textarea" name = "body"> <br><hr>

<input type="submit" name = "submit" > <hr>

</form>

    <form  action="/showBranch1/" method="get" >
<input type="submit" name = "submit2" > <hr>
</form>

</header>


</body>
</html>
